body {
	padding: 0;
	margin: 0;
	font-family: Arial,Helvetica,freesans,sans-serif;
}

.clear {
	clear: both;
}

#upper_menu {
	width: 1260px;
	height: 40px;
	margin: 0 auto;
}

#logo {
	margin-top: 8px;
	width: 85px;
	float: left;
	margin-right: 20px;
}

#sign_in_div {
	float: left;
	border-left: 1px #CCCCCC solid;
	height: 100%;
	width: 150px;
	font-weight: bold;
	font-size: 80%
}

#sign_in_div img {
	float: left;
	margin: 10px 5px 10px 16px;
	width: 20px;
}

#sign_in_div span {
	margin-top: 12px;
	margin-right: 20px;
	float: left;
	color: #494949;
}

.upper_section {
	float: left;
	border-left: 1px #CCCCCC solid;
	height: 100%;
	margin-right: 20px;
	font-weight: bold;
	font-size: 80%
}

.upper_section span {
	margin-top: 12px;
	margin-left: 20px;
	float: left;
	color: #494949;
}

#arrow_down {
	margin-top: 20px;
	margin-left: 40px;
	float: left;
}

#search_img {
	height: 24px;
	margin-top: 8px;
	float: left;
}

.upper_section input {
	background: #E4E4E4;
	color: #494949;
	font-weight: bold;
	border: none;
	height: 22px;
	margin-top: 8px;
	margin-left: 20px;
	float: left;
}

#red_news_container {
	background: #BB1819;
	width: 100%;
	height: 55px;
}

#red_news {
	width: 1366px;
	height: 50px;
	margin: 0 auto;
}

#red_news h1 {
	margin: 0;
	color: white;
	font-size: 40px;
	font-weight: normal;
	padding: 10px 0 0 50px;
}

#red_menu_container {
	background: #BB1819;
	width: 100%;
	height: 40px;
}

#red_menu {
	width: 1282px;
	margin: 0 auto;
	height: 30px;
}

#red_menu a {
	color: white;
	text-decoration: none;
	padding: 0 10px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #c34149;
	font-size: 14px;
	position: relative;
	top: 11px;
}

#red_menu a:hover {
	text-decoration: underline;
}

.no-border {
	border: none !important;
}

#arrow_down_red {
	position: relative;
	top: 10px;
}

#page_container {
	width: 1282px;
	margin: 0 auto;
}

h2 {
	font-weight: normal;
	font-size: 20px;
	color:	#3d4248;
	border-bottom: 3px  #ad1f1e solid;
	width: 45px;
}

#main_article {
	width: 490px;
	float: left;
}

h3 a {
	color: black;
	font-weight: 700;
	text-decoration: none;
	font-size: 27px;

}

h3 a:hover {
	color: #1167a8;
	text-decoration: underline;
}

#main_article p {
	color: #5a5a5a;
}

.timer-span {
	padding-right: 10px;
	padding-left: 10px;
}

.article_link {
	color: black;
	text-decoration: none;
	border-left: 1px solid #cccccc;
	padding-left: 10px;
}

.article_link:hover {
	color: #1167a8;
	text-decoration: underline;
}

#dotted-link {
	padding-left: 15px;
}

h4 a{
	color: black;
	text-decoration: none;
}

h4 a:hover{
	color: #1167a8;
	text-decoration: underline;

}

#sub-article {
	width: 780px;
	float: left;
	padding-left: 10px;
}

.little-article {
	padding: 0 10px;
	width: 240px;
	float: left;
}

.little-article h4 {
	position: relative;
	top: -15px;
	margin: 0;
	padding: 0;
}

.little-text {
	color: #5a5a5a;
	font-size: 14px;
	position: relative;
	top: -20px;
}
